extends ../../components/__system/layout/default

include ../../components/header/header
include ../../components/content/content
include ../../components/footer/footer

include ../../components/goods/goods
include ../../components/about/about
include ../../components/banner/banner

include ../../components/logo/logo
include ../../components/nav/nav
include ../../components/burger-menu/burger-menu
include ../../components/icon/icon
include ../../components/socials/socials
include ../../components/button/button
include ../../components/title/title
include ../../components/filter/filter
include ../../components/toggler/toggler
include ../../components/select/select

include ../../components/rooms-card/rooms-card




block head
  include ../../components/page/catalog/variables

block styles
  link(href='../css/main.min.css', rel='stylesheet')


block body
  +header(page)
    +logo('header', path)
      +icon('/', 'logo', 'logo')
    +burger-menu('header')
    +nav('header', links)

  +content(page)
    +goods('content')
      section.goods__controls
        h1.goods__title Наши номера
        +toggler('goods')&attributes({'class': 'toggler--filter'})
          +icon(path, 'toggler', 'filter')
          |Фильтры
        +select('goods', options)
      +filter('goods', filter.fieldsets)
        - for (let button in filter.buttons)
          +button('button', filter.buttons[button])
        .filter__close
          +icon(path, 'filter', 'close')
    +banner('content', banner)
      +button('link', banner.content.button)
    +about('content', about)

  +footer(page)
    +logo('footer', path)
      +icon('/', 'logo', 'logo')
    +nav('footer', links)
    .footer__info
      .footer__copyright
        +icon('/', 'footer', 'copyright')
        = '2021 Все права защищены'
      a.footer__policy(href = '#') Политика безопасности


  script(src='../js/main.js')

