.popup--register
  .popup
    &__form
      position: relative

      display: grid
      grid-auto-rows: auto
      justify-self: center
      justify-items: center
      row-gap: 1.75rem

      padding: 4rem 0
      margin: 0 1rem
      max-width: 32rem
      width: 100%

      background: $palette__background--primary
      box-shadow: 0 0 1.5rem rgba($palette__accent--primary, .25)
      border-radius: .5rem
