extends ../components/__system/layout/default

//- Вынести эти зависимости в отдельный файл!
include ../components/header/header
include ../components/content/content


include ../components/banner/banner
include ../components/solutions/solutions
include ../components/subscribe/subscribe

include ../components/logo/logo
include ../components/icon/icon
include ../components/burger-menu/burger-menu
include ../components/button/button

include ../components/nav/nav
include ../components/popup/popup
include ../components/form/form


block head
  include ../components/page/home-page/variables

block styles
  link(rel="stylesheet", href="css/main.min.css")

block body
  +header(page)
    a.header__contacts-menu(href = `${header.contacts[1].url}`)
      +icon(path, 'header', 'call')
    +logo('header', path)
      +icon('/', 'header', 'logo')
    +burger-menu('header')
    .header__inner
      +nav('header', header.contacts)&attributes({'class': 'nav--contacts'})
      +nav('header', header.navigation)&attributes({'class': 'nav--navigation'})
    +button('header', header.button)

  +content(page)
    +banner('content', banner)
      +button('banner', banner.content.button)
    +solutions('content', solutions)
    +subscribe('content')
      +form('subscribe', subscribe)
        +button('form', subscribe.button)

  +popup(page)
    +form('popup', register)
      +button('form', register.button)
      .form__close
        +icon(path, 'form', 'close')

  script(src='js/main.js')
