extends ../components/__system/layout/default

//- Вынести эти зависимости в отдельный файл!
include ../components/header/header
include ../components/content/content
include ../components/footer/footer

include ../components/banner/banner
include ../components/solutions/solutions
include ../components/subscribe/subscribe
include ../components/features/features
include ../components/carousel/carousel

include ../components/logo/logo
include ../components/icon/icon
include ../components/burger-menu/burger-menu
include ../components/button/button

include ../components/nav/nav
include ../components/popup/popup
include ../components/form/form
include ../components/project-card/project-card


block head
  include ../components/page/home-page/variables

block styles
  link(rel="stylesheet", href="css/main.min.css")

block body
  +header(page)
    a.header__contacts-menu(href = `${header.contacts.links[1].url}`)
      +icon(path, 'header', 'call')
    +logo('header', path)
      +icon('/', 'header', 'logo')
    +burger-menu('header')
    .header__inner
      +nav('header', header.contacts)&attributes({'class': 'nav--contacts'})
      +nav('header', header.navigation)&attributes({'class': 'nav--navigation'})
    +button('header', header.button)

  +content(page)
    +banner('content', banner)
      +button('banner', banner.content.button)
    +solutions('content', solutions)
    +subscribe('content')
      +form('subscribe', subscribe)
        +button('form', subscribe.button)
    +features('content', features)
    +carousel('content', carousel)
      p.carousel__textline Если вы хотите, чтобы мы опубликовали ваш проект у себя на сайте, — расскажите нам о нем и пришлите фото!
      +button('carousel', carousel.button)

  +footer(page)
    each navigation in footer
      +nav('footer', navigation)
    .footer__contacts
      .footer__inner
        a.footer__link(href='tel:+74956691030') 8 (495) 669-10-30
        span.footer__description г. Москва
      .footer__inner
        a.footer__link(href='tel:+78001007580') 8 (800) 100-75-80
        span.footer__description Бесплатно по России
      a.footer__link(href='mailto:info@vamsvet.ru') info@vamsvet.ru

  +popup(page)
    +form('popup', register)
      +button('form', register.button)
      .form__close
        +icon(path, 'form', 'close')

  script(src='js/main.js')
