mixin carousel(parent, { title, slides, togglers })
  article.carousel(class = `${parent}__carousel`)
    h2.carousel__title= title
    .carousel__container
      .carousel__wrapper
        each slide in slides
          +project-card('carousel', slide)

      +button('carousel', togglers.left)
      +button('carousel', togglers.right)

    block
