$color__burning-orange: #FF7236
$color__saffron-mango: #FAC663
$color__white: #FFF
$color__romance: #FFFEFD
$color__del-rio: #AD988F
$color__mirage: #1A212F
$color__shuttle-gray: #686B72
$color__gray: #848484
$color__alto: #D0D0D0
$color__mercury: #E1E1E1
$color__gallery: #EFEFEF

// Accent
$palette__accent--primary: $color__burning-orange
$palette__accent--secondary: $color__saffron-mango

// Text
$palette__text--primary: $color__mirage
$palette__text--secondary: $color__shuttle-gray
$palette__text--foreground: $color__white
$palette__text--another: $color__gray

// Background
$palette__background--primary: $color__white
$palette__background--secondary: $color__romance
$palette__background--foreground: $color__mercury

// Border
$palette__border--primary: $color__gallery

// Box-shadow
$palette__shadow--primary: $color__alto
$palette__shadow--secondary: $color__del-rio
