.about
  &__contacts
    display: grid
    grid-template-columns: minmax(min-content, max-content)
    row-gap: 2rem
    justify-content: start

    background-color: $palette__accent--secondary

    padding: 2.5rem 0 2.5rem 1rem


@media all and ( min-width: 768px )
  .about
    &__contacts
      justify-content: end

      padding: 3.75rem 2rem 3.75rem 1rem


@media all and ( min-width: 910px )
  .about
    &__contacts
      padding-right: 5rem


@media all and ( min-width: 1024px )
  .about
    &__contacts
      padding: 4.375rem 7rem 4.375rem 1rem


@media all and ( min-width: 1280px )
  .about
    &__contacts
      padding-left: 0
