.button
  &--toggler-left
    display: none


@media all and ( min-width: 1024px )
  .button
    &--toggler-left
      display: flex

      position: absolute
      top: 50%
      left: .25rem

      background-color: transparent
      border: 2px solid $palette__accent--primary
      border-radius: .25rem

      padding: 0.5rem

      transition: $transition__speed--medium

      &:hover
        cursor: pointer
        background-color: $palette__accent--primary
        box-shadow: 0 0 1rem rgba($palette__accent--primary, .7)
        .icon--arrow-left
          fill: $palette__icon--primary


@media all and ( min-width: 1280px )
  .button
    &--toggler-left
      left: 0
