.footer
  &__nav
    display: flex
    justify-content: flex-start

    width: 100%
    margin-bottom: 1rem


@media all and ( min-width: 600px )
  .footer
    &__nav
      justify-content: flex-end
      margin-bottom: 0
