@import '__header/__header'
@import '__content/__content'
@import '__footer/__footer'

.home-page
  display: flex
  flex-direction: column
  align-items: center
  background-color: $palette__background--secondary
