//- Head
- let title = `Home-page`;
- let page = `home-page`;
- let path = `./`;

//- Body

//- Nav
- const links = [{ title: 'Почему мы?', url: '#' }, { title: 'Номера', url: 'pages/catalog.html' }, { title: 'Отзывы', url: '#' }, { title: 'Как нас найти', url: '#' }];
