//- Head
- const title = `Hotel 'Cats'`;
- const page = `home-page`;
- const path = `./`;


//- Body

//- Nav
-
  const links = [{
      title: 'Почему мы?',
      url: '#' },
    {
      title: 'Номера',
      url: 'pages/catalog.html' },
    {
      title: 'Отзывы',
      url: '#' },
    {
      title: 'Как нас найти',
      url: '#' }];

//- Banner
-
  const banner = {
    phone: {
      path: '/images/banner',
      modificator: 'phone',
      type: 'webp',
      alt: 'Котейка. Уютная гостиница для котов и кошек' },
    tablet: {
      path: '/images/banner',
      modificator: 'tablet',
      type: 'webp',
      alt: 'Котейка. Уютная гостиница для котов и кошек' },
    desktop: {
      path: '/images/banner',
      modificator: 'desktop',
      type: 'webp',
      alt: 'Котейка. Уютная гостиница для котов и кошек' },
    content: {
      headline: 'Котейка',
      textline: 'Уютная гостиница для котов и кошек',
      button: {
        parent: 'banner',
        content: 'Забронировать',
        icon: {
          path: '/',
          name: 'paw-primary',
          parent: 'banner' }}}};

//- Features
-
  const features = [{
      headline: 'Комфортная температура',
      textline: 'Во всех номерах поддерживается комфортная температура в пределах 23 - 25 градусов. В каждом номере можно дополнительно отрегулировать температуру.',
      icon: {
        path: '/',
        name: 'temperature',
        parent: 'feature' } },
    {
      headline: 'Видеонаблюдение',
      textline: 'Мы предоставляем доступ в нашу систему. Вы сможете следить за своим питомцем со своего смартфона или компьютера',
      icon: {
        path: '/',
        name: 'video',
        parent: 'feature' } },
    {
      headline: 'Услуги Зоотакси',
      textline: 'Мы приедем за вашим питомцем в любой район Санкт-Петербурга.',
      icon: {
        path: '/',
        name: 'taxi',
        parent: 'feature' } },
    {
      headline: 'Сбалансированное питание',
      textline: 'Вы можете привезти свой корм или доверить рацион своего питомца нашим профессионалам.',
      icon: {
        path: '/',
        name: 'food',
        parent: 'feature' } },
    {
      headline: 'Ежедневные прогулки',
      textline: 'По вашему желанию мы выгуливаем вашего питомца два раза в день на специализированной закрытой территории.',
      icon: {
        path: '/',
        name: 'walk',
        parent: 'feature' } },
    {
      headline: 'Лучшие ветеринары',
      textline: 'В гостинице 24 часа дежурит ветеринарный врач, который окажет любую помощь в случае необходимости.',
      icon: {
        path: '/',
        name: 'medicine',
        parent: 'feature' } }];


//- Carousels
-
  const carousel = {
    rooms: {
      parent: 'content',
      modifier: 'rooms',
      title: 'Номера'
    },
    comments:{
      parent: 'content',
      modifier: 'comments',
      title: 'Отзывы'
    },
    togglers: {
      left: {
        parent: 'carousel',
        modifier: 'toggler-left',
        icon: {
          path: '/',
          name: 'chevron-left',
          parent: 'carousel' }},
      right: {
        parent: 'carousel',
        modifier: 'toggler-right',
        icon: {
          path: '/',
          name: 'chevron-right',
          parent: 'carousel' }}
    }};

//- Rooms
-
  const rooms = [{
      img: {
        path: '/',
        modifier: 'economy',
        type: '.webp',
        alt: 'Эконом плюс'},
      content: {
        headline: 'Эконом плюс',
        list: [
          'Площадь - 0,90 м2',
          'Размеры (ШхГхВ) — 90х100х180 см',
          'Цена за сутки: 200₽']},
      button: {
        parent: 'rooms-card',
        content: 'Забронировать',
        icon: {
          path: '/',
          name: 'paw-secondary',
          parent: 'rooms-card' }}},
    {
      img: {
        path: '/',
        modifier: 'comfort',
        type: '.webp',
        alt: 'Комфорт' },
      content: {
        headline: 'Комфорт',
        list: [
          'Площадь - 1,13 м2',
          'Размеры (ШхГхВ) - 100х125х180 см',
          'Цена за сутки: 250₽']},
      button: {
        parent: 'rooms-card',
        content: 'Забронировать',
        icon: {
          path: '/',
          name: 'paw-secondary',
          parent: 'rooms-card' }}},
    {
      img: {
        path: '/',
        modifier: 'suite',
        type: '.webp',
        alt: 'Сьют' },
      content: {
        headline: 'Сьют',
        list: [
          'Площадь - 1,56 м2',
          'Размеры (ШхГхВ) - 125х125х180 см',
          'Цена за сутки: 350₽']},
      button: {
        parent: 'rooms-card',
        content: 'Забронировать',
        icon: {
          path: '/',
          name: 'paw-secondary',
          parent: 'rooms-card' }}}
    ];

//- Comments
-
  const comments = [{
      textContent: 'Первый раз пришлось оставить нашего котика в гостинице, очень переживали. Администратор Мария каждый день высылала нам фото нашего питомца, рассказывала, как он себя чувствует. И мы и котик остались очень довольны!',
      author: 'Валерия Гришаева',
      date: '15 ноября, 2019'},
    {
      textContent: 'Гостиницу для питомцев нам посоветовали друзья. Они всегда оставляют здесь своего кота, когда уезжают. В “Котейке” очень хорошо заботятся о питомцах, в гостинице очень чисто. Всем рекомендую! Будем обращаться еще.',
      author: 'Екатерина Минаева',
      date: '10 октября, 2019' },
    {
      textContent: 'Мой кот — настоящая привереда, угодить ему сложно. У меня были особые требования к уходу за ним, и “Котейка” отлично справились. Я часто наблюдал по видео за питомцем со своего телефона, это очень удобно.',
      author: 'Павел Нечаев',
      date: '2 августа, 2019' }];

