.about
  &__title
    +font(20, 20, 500)
    text-transform: uppercase
    color: $palette__text--primary
    margin-bottom: 1rem


@media all and ( min-width: 1280px )
  .about
    &__title
      margin: 0 0 2rem 0
