.nav
  &__wrapper
    position: absolute
    top: 0
    left: 0
    z-index: 2

    display: none

    width: 100%
    height: 100vh
    background-color: rgba($palette__background--primary, .9)

    padding: 4rem 2rem


@media all and (min-width: 1024px)
  .nav
    &__wrapper
      position: static

      display: grid

      height: auto
      background-color: transparent

      padding: 0


@media all and (min-width: 1366px)
  .nav
    &__wrapper
      grid-template-columns: repeat(2, minmax(min-content, max-content))
      justify-content: space-between

@import 'is-active/is-active'

