.banner
  &__textline
    +font(14, 20, 500, 22px)
    color: $palette__text--primary

    max-width: 47rem
    width: 100%
    text-align: center

    &:not(:first-of-type)
      margin-bottom: 2rem


@media all and ( min-width: 768px )
  .banner
    &__textline
      +font(14, 20, 500, 26px)
      &:not(:first-of-type)
        margin-bottom: 2.5rem

@import '--accent/--accent'
