.home-page
  .banner
    &__button
      display: flex
      align-items: center

      background-color: $palette__background--primary
      padding: 0.5rem 0.5rem 0.5rem 1.875rem
      border-radius: 1.5rem
      border: none

      +font(16, 16, 500, $font-family__font--primary)
      color: $palette__text--primary


@media all and (min-width: 1024px)
  .home-page
    .banner
      &__button
        transition: all .3s ease-in-out

        &:hover
          cursor: pointer
          background-color: darken($palette__background--primary, 5%)
