.popup
  &__field
    position: relative

    &:nth-of-type(5)
      display: grid
      grid-template-columns: repeat(2, minmax(min-content, max-content))
      column-gap: .5rem
      grid-row: 7
      max-width: 18.75rem
      margin-right: 2.75rem
