.popup
  &__field
    position: relative

    width: 100%
    max-width: 19rem

    &:nth-of-type(5)
      display: grid
      grid-template-columns: repeat(2, minmax(min-content, max-content))
      column-gap: .5rem
      grid-row: 7
