.form
  &__close
    position: absolute
    top: 1.5rem
    right: 1.5rem


@media all and ( min-width: 1024px )
  .form
    &__close
      transition: $transition__speed--medium
      &:hover
        cursor: pointer
        .icon--close
          filter: drop-shadow(0 0 3px $palette__icon--accent)
