.content
  &__products
    display: grid
    grid-template-columns: 1fr
    align-items: center
    row-gap: 2rem
    justify-self: center

    width: 100%
    max-width: 73.125rem
    padding: 1rem


@media all and ( min-width: 1024px )
  .content
    &__products
      grid-template-columns: minmax(min-content, max-content) 1fr
      row-gap: 3rem
      column-gap: 3rem

      padding: 3rem 1rem

