.home-page
  &__header
    display: grid
    grid-template-columns: 1fr minmax(min-content, max-content)
    align-items: center

    max-width: 72rem
    width: 100%


@media all and ( min-width: 768px)
  .home-page
    &__header
      grid-template-columns: minmax(min-content, max-content) 1fr
