.nav
  &__link
    display: block
    color: $palette__text--primary

.header
  .nav
    &__link
      +font(20, 20, 700)
      text-transform: uppercase
      padding: 1rem 0


.footer
  .nav
    &__link
      +font(14, 14, 400)
      padding: .25rem 0


@media all and ( min-width: 768px )
  .footer
    .nav
      &__link
        padding: .5rem 0

@media all and ( min-width: 1024px )
  .nav__link
    transition: $transition__speed--medium

  .nav--contacts
    .nav
      &__link
        +font(14, 14, 700)

  .nav--navigation
    .nav
      &__link
        +font(14, 14, 500)
        color: $palette__text--secondary
        padding: 1rem .5rem

        &:hover
          color: $palette__accent--secondary

  .nav__item
    &--primary,
    &--secondary
      .nav__link
        padding: 0.25rem .5rem

    &--primary,
    &--base
      .nav__link
        color: $palette__text--accent-primary

        &:hover
          color: darken($palette__text--accent-primary, 15%)

    &--secondary
      .nav__link
        color: $palette__accent--another

        &:hover
          color: darken($palette__accent--another, 15%)

    &--base
      .nav__link
        padding: 1rem 1.25rem

  .footer
    .nav
      &__link
        &:hover
          color: $palette__text--accent-primary


@media all and ( min-width: 1440px )
  .nav--navigation
    .nav
      &__link
        padding: 1rem
