.popup
  &__title
    +font(18, 24, 700, 29px)
    color: $palette__text--primary
    text-transform: uppercase
    text-align: center


@media all and ( min-width: 360px )
  .popup
    &__title
      margin-bottom: 1rem
