extends ../components/__system/layout/default
include ../components/header/header
include ../components/nav/nav
include ../components/burger-menu/burger-menu
include ../components/logo/logo
include ../components/icon/icon
include ../components/button/button
include ../components/content/content
include ../components/banner/banner
include ../components/features/features
include ../components/carousel/carousel
include ../components/rooms-card/rooms-card

block head
  include ../components/page/home-page/variables

block styles
  link(href='https://unpkg.com/swiper/swiper-bundle.min.css', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Rubik:wght@300;400;500;700&display=swap', rel='stylesheet')
  link(href='css/main.min.css', rel='stylesheet')


block body
  +header(page)
    +logo('header')
      +icon('/', 'logo', 'logo')
    +burger-menu('header')
    +nav('header', links)
  +content(page)
    +banner('content', banner)
      +button('link', banner.content.button)
    +features('content', 'Почему мы?', features)
    +carousel(carousel.rooms, carousel.togglers)
      - for (let room in rooms)
        +rooms-card('carousel', rooms[room].img, rooms[room].button)&attributes({ 'class': ' swiper-slide' })
          h3.rooms-card__headline= rooms[room].content.headline
          ul.rooms-card__list
            - for (let i in rooms[room].content.list)
              li.rooms-card__textline= rooms[room].content.list[i]

  script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
  script(src='js/main.js')

