.carousel
  &__rooms-card
    position: relative

    display: grid
    grid-template-columns: auto

    flex: 0 0 100%

    box-shadow: 0 0 25px rgba($palette__shadow--primary, 0.25)


@media all and ( min-width: 600px )
  .carousel
    &__rooms-card
      grid-template-columns: minmax(440px, 2fr) 1fr

      flex: 0 0 100%

      box-shadow: none
