.catalog
  &__content
    display: grid
    row-gap: 4.375rem
    overflow: hidden
    justify-self: center
    width: 100%


@media all and ( min-width: 321px )
  .catalog
    &__content
      row-gap: 7.5rem


@media all and ( min-width: 1024px )
  .catalog
    &__content
      grid-template-columns: repeat(2, minmax(min-content, max-content))
      row-gap: 8.75rem
