.rooms-card
  &__content
    display: grid
    justify-items: start
    row-gap: 1.5rem

    background-color: $palette__text--foreground
    padding: 1.5rem
    border-radius: 0 0 .5rem .5rem
    box-shadow: 0 0 25px rgba($palette__shadow--primary, 0.25)
