.content
  &__banner
    position: relative
    overflow: hidden

.catalog
  .content
    &__banner
      justify-self: center

      border-radius: .5rem

      margin: 0 1rem


@media all and ( min-width: 768px )
  .catalog
    .content
      &__banner
        margin: 0 2rem


@media all and ( min-width: 1024px  )
  .catalog
    .content
      &__banner
        grid-column: span 2

@media all and ( min-width: 1234px )
  .catalog
    .content
      &__banner
        margin: 0
