.content
  &__carousel
    display: flex
    flex-direction: column
    align-items: center
    place-self: center
    margin: 0 1rem
    max-width: calc(100vw - 2rem)
    width: 100%

.swiper-container
  overflow: visible


@media all and ( min-width: 1366px )
  .content
    &__carousel
      max-width: 1024px

