.carousel
  &__indicators
    display: flex
    justify-content: center
    align-items: center

    position: static

  &__indicator
    display: block

    width: 12px
    height: 12px
    border-radius: 50%

    background-color: $palette__background--foreground

    transition: all .3s ease-in-out

    &:not(:last-child)
      margin-right: 12px

    &.is-active
      background-color: $palette__accent--secondary


@media all and ( min-width: 1024px )
  .carousel
    &__indicator
      &:hover
          cursor: pointer
          background-color: $palette__accent--secondary
