.carousel
  &__mask
    position: absolute
    z-index: 1
    top: 0
    left: 0
    bottom: 0
    right: 0
    background: linear-gradient(to right, $palette__background--primary, transparent)
    opacity: 0.8
