.footer
  &__nav
    display: flex
    flex-direction: column

@media all and ( min-width: 475px )
  .footer
    &__nav
      margin-right: 1.5rem


@media all and ( min-width: 768px )
  .footer
    &__nav
      margin-right: 2rem
