.about
  &__text
    +font(12, 12, 400)
    color: $palette__text--primary
    &--margin-bottom
      margin-bottom: 1rem


@media all and ( min-width: 1280px )
  .about
    &__text
      margin: 0;
      &--margin-bottom
        margin: 0 0 1rem 0
