include ../title/title
include ../button/button


mixin carousel(content, togglers)
 - const modifier = content.modifier ? ` carousel--${content.modifier}` : '';

  article.carousel(class = `${content.parent}__carousel${modifier} swiper-container`)
    +title('carousel', content.title)
    section.carousel__container.swiper-wrapper
      block
    section.carousel__navigation
      .carousel__indicators.swiper-pagination
      .carousel__togglers
        +button('button', togglers.left)
        +button('button', togglers.right)
