.content
  &__features
    display: grid
    grid-template-columns: minmax(18.125rem, 20.25rem)
    row-gap: 1.25rem
    place-self: center

    position: relative

    margin: 0 1rem

    &::before
      content: url('../icons/background/background-paw.svg')

      position: absolute
      z-index: 0
      top: -1%
      right: -20%

      +icon(140, 300, 140, 300)

      transform: rotate(30deg)


@media all and ( min-width: 370px )
  .content
    &__features
      &::before
        top: -1.5%
        right: -22%


@media all and ( min-width: 430px )
  .content
    &__features
      &::before
        top: -2%
        right: -24%


@media all and ( min-width: 490px )
  .content
    &__features
      &::before
        top: -2.5%
        right: -26%


@media all and ( min-width: 550px )
  .content
    &__features
      &::before
        top: -3%
        right: -28%


@media all and ( min-width: 610px )
  .content
    &__features
      &::before
        top: -3.5%
        right: -30%


@media all and ( min-width: 660px )
  .content
    &__features
      grid-template-columns: repeat(2, minmax(18.125rem, 20.25rem))
      grid-template-rows: minmax(min-content, max-content) repeat(3, minmax(17.75rem, 20.5rem))
      column-gap: 1.875rem
      row-gap: 1.875rem

      &::before
        top: -4%
        right: -15%


@media all and ( min-width: 720px )
  .content
    &__features
      &::before
        top: -4.5%


@media all and ( min-width: 780px )
  .content
    &__features
      &::before
        top: -5%
        right: -16%


@media all and ( min-width: 840px )
  .content
    &__features
      &::before
        top: -5.5%
        right: -17%


@media all and ( min-width: 900px )
  .content
    &__features
      &::before
        top: -6%
        right: -18%


@media all and ( min-width: 960px )
  .content
    &__features
      &::before
        top: -6.5%
        right: -19%


@media all and ( min-width: 1024px )
  .content
    &__features
      grid-template-columns: repeat(3, minmax(18.125rem, 23rem))
      grid-template-rows: minmax(min-content, max-content) repeat(2, 22.5rem)

      &::before
        top: -8%
        right: -11%


@media all and ( min-width: 1230px )
  .content
    &__features
      margin-left: 0
      margin-right: 0

      &::before
        top: -9%


@media all and ( min-width: 1440px )
  .content
    &__features
      &::before
        top: -10%
        right: -12%


@media all and ( min-width: 1660px )
  .content
    &__features
      &::before
        top: -11%
        right: -13%


@media all and ( min-width: 1920px )
  .content
    &__features
      &::before
        top: -12%
        right: -15%

// Где-то тут у меня сгорело
