.banner
  &__textline
    text-align: center

.home-page
  .banner
    &__textline
        +font(16, 20, 500, $font-family__font--primary, 1)

        margin-bottom: 2.25rem

.catalog
  .banner
    &__textline
      +font(15, 16, 400, $font-family__font--primary, 1.5)

      margin-bottom: 1.75rem


@media all and ( min-width: 400px )
  .catalog
    .banner
      &__textline
        text-align: start
        max-width: 15.5rem


@media all and ( min-width: 550px )
  .catalog
    .banner
      &__textline
        max-width: 16rem


@media all and ( min-width: 900px )
  .catalog
    .banner
      &__textline
        max-width: 16.5rem


@media all and ( min-width: 1024px )
  .home-page
    .banner
      &__textline
        margin-bottom: 2.5rem


@media all and ( min-width: 1600px )
  .catalog
    .banner
      &__textline
        max-width: 17rem
