.banner
  &__content
    position: absolute
    top: 28%
    left: 0
    z-index: 1

    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    width: 100%
    padding: 0 2rem


@media all and ( min-width: 340px )
  .banner
    &__content
      top: 30%


@media all and ( min-width: 360px )
  .banner
    &__content
      top: 32%


@media all and ( min-width: 380px )
  .banner
    &__content
      top: 34%


@media all and ( min-width: 400px )
  .banner
    &__content
      top: 36%


@media all and ( min-width: 420px )
  .banner
    &__content
      top: 38%


@media all and ( min-width: 440px )
  .banner
    &__content
      top: 40%


@media all and ( min-width: 720px )
  .banner
    &__content
      top: 42%
      padding: 0


@media all and ( min-width: 740px )
  .banner
    &__content
      top: 43%


@media all and ( min-width: 760px )
  .banner
    &__content
      top: 44%


@media all and ( min-width: 780px )
  .banner
    &__content
      top: 45%


@media all and ( min-width: 800px )
  .banner
    &__content
      top: 46%


@media all and ( min-width: 820px )
  .banner
    &__content
      top: 47%


@media all and ( min-width: 840px )
  .banner
    &__content
      top: 48%


@media all and ( min-width: 860px )
  .banner
    &__content
      top: 49%


@media all and ( min-width: 880px )
  .banner
    &__content
      top: 50%


@media all and ( min-width: 900px )
  .banner
    &__content
      top: 51%


@media all and ( min-width: 920px )
  .banner
    &__content
      top: 52%


@media all and ( min-width: 940px )
  .banner
    &__content
      top: 53%


@media all and ( min-width: 960px )
  .banner
    &__content
      top: 54%


@media all and ( min-width: 1700px )
  .banner
    &__content
      top: 55%


@media all and ( min-width: 1800px )
  .banner
    &__content
      top: 57%


@media all and ( min-width: 1900px )
  .banner
    &__content
      top: 59%

