@import '__banner/__banner'
@import '__header/__header'

.home-page
  position: relative

  background: $palette__background--primary url('../images/background__img--main.webp') center no-repeat fixed
  background-size: cover
  width: 100%
  min-height: 100vh
