//- Head
- let title = `Home-page`;
- let page = `home-page`;
- let path = `./`;


//- Body

//- Header
-
  const header = {
    contacts: {
      links: [{
          title: 'Интернет магазин',
          url: '#',
          modifier: 'secondary' },
        {
          title: '8 (495) 669-10-30',
          url: 'tel:+78003335599',
          modifier: 'base' },
        {
          title: 'Магазин в москве',
          url: '#',
          modifier: 'primary' }]},
    navigation: {
      links: [{
          title: 'Наши решения',
          url: '#' },
        {
          title: 'Преимущества',
          url: `#` },
        {
          title: 'Проекты дизайнеров',
          url: '#' },
        {
          title: 'Как работаем',
          url: '#' },
        {
          title: 'Контакты',
          url: '#' }]},
    button: {
      content: 'Войти',
      icon: {
        path: path,
        name: 'user',
        parent: 'header' }}};


//- Banner
-
  const banner = {
    phone: {
        path: '/images/banner',
        modifier: 'phone',
        type: 'webp',
        alt: 'Вам свет. Для дизайнеров.' },
    desktop: {
        path: '/images/banner',
        modifier: 'desktop',
        type: 'webp',
        alt: 'Вам свет. Для дизайнеров.' },
    content: {
        headline: 'Для дизайнеров',
        textline: [
          'Добро пожаловать в команду «ВамСвет»! С нами, вы можете забыть о сроках поставки, документообороте, постоянных подборках товаров.',
          'С ВамСвет.Дизайн ваша работа станет проще, а доход — выше.'],
        button: {
          content: 'Начните сейчас'}}};



//- Solutions
-
  const solutions = [{
      content: {
        trouble: {
          headline: 'Помеха',
          textline: 'Долгая доставки и несвоевременная отгрузка.',
          modifier: 'trouble',
          icon: {
              path: path,
              name: 'error',
              parent: 'solution' }},
        solution: {
            headline: 'Решение',
            textline: 'Все бренды — на одном складе. Это существенно экономит ваше время — теперь не нужно объезжать несколько складов, собирая свои заказы и простаивая в пробках. Вы можете разом забрать его сами или заказать доставку, которая за счет собственной логистической службы, стала быстрее и надежнее! ',
            modifier: 'solution',
            icon: {
                path: path,
                name: 'circle-check',
                parent: 'solution' }}},
      image: {
          path: '/images/solutions',
          modifier: 'turtle',
          type: 'webp',
          alt: 'Долгая доставки и несвоевременная отгрузка.' }},
    {
      content: {
        trouble: {
          headline: 'Помеха',
          textline: 'Огромный ассортимент светильников, в котором некогда искать нужное.',
          modifier: 'trouble',
          icon: {
              path: path,
              name: 'error',
              parent: 'solution' }},
        solution: {
            headline: 'Решение',
            textline: 'Наши менеджеры отлично знают ассортимент, как визуально, так и технически. Они могут не только сориентировать и направить вас в нужный вам раздел каталога, но и сделать подбор товаров и их аналогов по заданным параметрам. ВамСвет.Дизайн — это экономия времени и всегда правильный выбор!',
            modifier: 'solution',
            icon: {
                path: path,
                name: 'circle-check',
                parent: 'solution' }}},
      image: {
          path: '/images/solutions',
          modifier: 'lamps',
          type: 'webp',
          alt: 'Огромный ассортимент светильников, в котором некогда искать нужное.' }},
    {
      content: {
        trouble: {
          headline: 'Помеха',
          textline: 'Долгая обратная связь по вопросам, проблемам и их решениям.',
          modifier: 'trouble',
          icon: {
              path: path,
              name: 'error',
              parent: 'solution' }},
        solution: {
            headline: 'Решение',
            textline: 'С ВамСвет.Дизайн вам не придется ждать решения или ответа по несколько дней, постоянно напоминая о себе. Мы контролируем сроки обращений и принимаем решения максимально быстро, возвращая обратную связь через вашего персонального менеджера или руководителя отдела.',
            modifier: 'solution',
            icon: {
                path: path,
                name: 'circle-check',
                parent: 'solution' }}},
      image: {
          path: '/images/solutions',
          modifier: 'waiting-thing',
          type: 'webp',
          alt: 'Долгая обратная связь по вопросам, проблемам и их решениям.' }}];


//- Subscribes
-
  const subscribe = {
    title: 'Подключайтесь к программе ВамСвет.Дизайн для получения доступа к особым условиям сотрудничества',
    modifier: 'subscribe',
    fields: [{
        type: 'text',
        name: 'username',
        label: 'Имя'
      },
      {
        type: 'tel',
        name: 'phone',
        label: 'Телефон' },
      {
        type: 'checkbox',
        name: 'agreement',
        label: 'Я ознакомился и принимаю условия “Политики конфиденциальности” и “Информированного согласия”'}],
    button: {
        parent: 'form',
        content: 'Подключиться'}};


//- Features
-
  const features = {
    title: 'Как мы работаем',
    features: [{
        textline: 'Оставьте заявку',
        icon: {
          path: '/',
          name: 'bell',
          parent: 'features' }},
      {
        textline: 'Менеджер свяжется с вами и обсудит условия',
        icon: {
          path: '/',
          name: 'manager',
          parent: 'features' }},
      {
        textline: 'Заключаем договор',
        icon: {
          path: '/',
          name: 'contract',
          parent: 'features' }},
      {
        textline: 'Делаем подборки для вашего проекта',
        icon: {
          path: '/',
          name: 'collection',
          parent: 'features' }},
      {
        textline: 'Выставляем счет',
        icon: {
          path: '/',
          name: 'invoice',
          parent: 'features' }},
      {
        textline: 'Доставляем товар',
        icon: {
          path: '/',
          name: 'delivery',
          parent: 'features' }}]};


//- Carousel
-
  const carousel = {
    title: 'Проекты дизайнеров',
    slides: [{
        image: {
            path: 'images/project-card',
            modifier: 'first',
            type: 'webp',
            alt: 'Проект студии Z-design' },
        author: {
            image: {
                path: 'images/project-card/author',
                modifier: 'first',
                type: 'webp',
                alt: 'Изображение автора проекта Юлии Никольской' },
            textline: 'Юлия Никольская',
            link: {
              url: '#',
              textline: 'Студия Z-design' }}},
      {
        image: {
            path: 'images/project-card',
            modifier: 'second',
            type: 'webp',
            alt: 'Art interior' },
        author: {
            image: {
                path: 'images/project-card/author',
                modifier: 'first',
                type: 'webp',
                alt: 'Изображение автора проекта Юлии Никольской' },
            textline: 'Юлия Никольская',
            link: {
              url: '#',
              textline: 'Студия Art Interior' }}},
      {
        image: {
            path: 'images/project-card',
            modifier: 'third',
            type: 'webp',
            alt: 'Проект студии Z-design' },
        author: {
            image: {
                path: 'images/project-card/author',
                modifier: 'first',
                type: 'webp',
                alt: 'Изображение автора проекта Юлии Никольской' },
            textline: 'Юлия Никольская',
            link: {
              url: '#',
              textline: 'Студия Z-design' }}},
      {
        image: {
            path: 'images/project-card',
            modifier: 'fourth',
            type: 'webp',
            alt: 'Проект студии Z-design' },
        author: {
            image: {
                path: 'images/project-card/author',
                modifier: 'first',
                type: 'webp',
                alt: 'Изображение автора проекта Юлии Никольской' },
            textline: 'Юлия Никольская',
            link: {
              url: '#',
              textline: 'Студия Z-design' }}},
      {
        image: {
            path: 'images/project-card',
            modifier: 'fourth',
            type: 'webp',
            alt: 'Проект студии Z-design' },
        author: {
            image: {
                path: 'images/project-card/author',
                modifier: 'first',
                type: 'webp',
                alt: 'Изображение автора проекта Юлии Никольской' },
            textline: 'Юлия Никольская',
            link: {
              url: '#',
              textline: 'Студия Z-design' }}},
      {
        image: {
            path: 'images/project-card',
            modifier: 'fourth',
            type: 'webp',
            alt: 'Проект студии Z-design' },
        author: {
            image: {
                path: 'images/project-card/author',
                modifier: 'first',
                type: 'webp',
                alt: 'Изображение автора проекта Юлии Никольской' },
            textline: 'Юлия Никольская',
            link: {
              url: '#',
              textline: 'Студия Z-design' }}},
      {
        image: {
            path: 'images/project-card',
            modifier: 'fourth',
            type: 'webp',
            alt: 'Проект студии Z-design' },
        author: {
            image: {
                path: 'images/project-card/author',
                modifier: 'first',
                type: 'webp',
                alt: 'Изображение автора проекта Юлии Никольской' },
            textline: 'Юлия Никольская',
            link: {
              url: '#',
              textline: 'Студия Z-design' }}},
      {
        image: {
            path: 'images/project-card',
            modifier: 'fourth',
            type: 'webp',
            alt: 'Проект студии Z-design' },
        author: {
            image: {
                path: 'images/project-card/author',
                modifier: 'first',
                type: 'webp',
                alt: 'Изображение автора проекта Юлии Никольской' },
            textline: 'Юлия Никольская',
            link: {
              url: '#',
              textline: 'Студия Z-design' }}},
      {
        image: {
            path: 'images/project-card',
            modifier: 'fourth',
            type: 'webp',
            alt: 'Проект студии Z-design' },
        author: {
            image: {
                path: 'images/project-card/author',
                modifier: 'first',
                type: 'webp',
                alt: 'Изображение автора проекта Юлии Никольской' },
            textline: 'Юлия Никольская',
            link: {
              url: '#',
              textline: 'Студия Z-design' }}},
      {
        image: {
            path: 'images/project-card',
            modifier: 'fourth',
            type: 'webp',
            alt: 'Проект студии Z-design' },
        author: {
            image: {
                path: 'images/project-card/author',
                modifier: 'first',
                type: 'webp',
                alt: 'Изображение автора проекта Юлии Никольской' },
            textline: 'Юлия Никольская',
            link: {
              url: '#',
              textline: 'Студия Z-design' }}}],
    togglers: {
        left: {
            content: '',
            modifier: 'toggler-left',
            icon: {
              path: path,
              name: 'arrow-left',
              parent: 'carousel' }},
        right: {
            content: '',
            modifier: 'toggler-right',
            icon: {
              path: path,
              name: 'arrow-right',
              parent: 'carousel' }}},
    button: {
        content: 'Поделиться проектом',
        modifier: 'accent' }};

//- Footer
-
  const footer = {
    main: {
      headline: 'Магазин на варшавке',
      links: [
        {
          title: 'Каталог',
          url: '#' },
        {
          title: 'Фото магазина',
          url: '#' },
        {
          title: 'Адрес',
          url: '#'}]},
    shop: {
      headline: 'Интернет-магазин',
      links: [
        {
          title: 'Люстры',
          url: '#' },
        {
          title: 'Светильники',
          url: '#' }]},
    help: {
      headline: 'Помощь',
      links: [
        {
          title: 'Доставка',
          url: '#' }]},
    service: {
      headline: 'Услуги',
      links: [
        {
          title: 'Установка светильников',
          url: '#' },
        {
          title: 'Подбор по фото',
          url: '#' }]},
    about: {
      headline: 'О компании',
      links: [
        {
          title: 'Контакты',
          url: '#' },
        {
          title: 'Реквизиты',
          url: '#' },
        {
          title: 'Новости',
          url: '#'}]}
  };

//- Register popup
-
  const register = {
      title: 'Регистрация нового пользователя',
      modifier: 'register',
      fields: [{
          type: 'text',
          name: 'username',
          label: 'Имя' },
        {
          type: 'tel',
          name: 'phone',
          label: 'Телефон' },
        {
          type: 'password',
          name: 'password',
          label: 'Введите пароль'},
        {
          type: 'text',
          name: 'verification',
          label: 'Подтвердите пароль' },
        {
          type: 'checkbox',
          name: 'agreement',
          label: 'Я ознакомился и принимаю условия “Политики конфиденциальности” и “Информированного согласия”'}],
      button: {
        parent: 'form',
        content: 'Зарегистрироваться'}
    };

