// Colors
$color__white: #FFFFFF
$color__peru: #1F271B
$color__supernova: #F4B02B

// Palette

// Background
$palette__background--accent: $color__supernova

// Text
$palette__text--primary: $color__peru
$palette__text--secondary: $color__white

// Icons
$palette__icon--primary: $color__peru
$palette__icon--secondary: $color__white
