.content
  &__filter
    position: absolute
    z-index: 1

    display: grid
    row-gap: 1rem

    padding: 3rem 1.5rem
    border-radius: .5rem
    max-width: 290px
    width: 100%

    background-color: $palette__background--primary


@media all and ( min-width: 1024px )
  .content
    &__filter
      position: static
