.carousel
  &__container
    width: 100%
    overflow: hidden
    padding: 0 1rem


@media all and ( min-width: 768px )
  .carousel
    &__container
      padding: 0 2rem


@media all and ( min-width: 1024px  )
  .carousel
    &__container
      padding: 0 3rem


@media all and ( min-width: 1376px )
  .carousel
    &__container
      padding: 0
