.carousel
  &--rooms
    &::before
      content: url('../icons/background/fish.svg')

      position: absolute
      z-index: 0
      top: 6.75%
      left: 0%

      +icon(150, 500, 50, 150)


@media all and ( min-width: 350px )
  .carousel
    &--rooms
      &::before
        top: 6.5%


@media all and ( min-width: 380px )
  .carousel
    &--rooms
      &::before
        top: 6%


@media all and ( min-width: 410px )
  .carousel
    &--rooms
      &::before
        top: 5.5%


@media all and ( min-width: 440px )
  .carousel
    &--rooms
      &::before
        top: 5%


@media all and ( min-width: 470px )
  .carousel
    &--rooms
      &::before
        top: 4.5%


@media all and ( min-width: 500px )
  .carousel
    &--rooms
      &::before
        top: 4%


@media all and ( min-width: 530px )
  .carousel
    &--rooms
      &::before
        top: 3.5%


@media all and ( min-width: 560px )
  .carousel
    &--rooms
      &::before
        top: 3%


@media all and ( min-width: 590px )
  .carousel
    &--rooms
      &::before
        top: 2.5%


@media all and ( min-width: 600px )
  .carousel
    &--rooms
      &::before
        top: 5%


@media all and ( min-width: 1024px )
  .carousel
    &--rooms
      &::before
        top: 6%
        left: -5%


@media all and ( min-width: 1060px )
  .carousel
    &--rooms
      &::before
        top: 6.5%
        left: -10.5%


@media all and ( min-width: 1090px )
  .carousel
    &--rooms
      &::before
        top: 6%
        left: -11%


@media all and ( min-width: 1110px )
  .carousel
    &--rooms
      &::before
        top: 5.5%
        left: -11.5%


@media all and ( min-width: 1140px )
  .carousel
    &--rooms
      &::before
        top: 5%
        left: -12%


@media all and ( min-width: 1170px )
  .carousel
    &--rooms
      &::before
        left: -12.5%


@media all and ( min-width: 1200px )
  .carousel
    &--rooms
      &::before
        left: -13%


@media all and ( min-width: 1230px )
  .carousel
    &--rooms
      &::before
        left: -13.5%


@media all and ( min-width: 1270px )
  .carousel
    &--rooms
      &::before
        left: -14%


@media all and ( min-width: 1300px )
  .carousel
    &--rooms
      &::before
        left: -14.5%


@media all and ( min-width: 1330px )
  .carousel
    &--rooms
      &::before
        left: -15%


