.nav
  &__link
    display: block

    +font(16, 16, 500)
    text-transform: uppercase
    color: $palette__text--primary

    padding: .5rem 1.5rem

    transition: $transition__speed--medium

    &:hover
      cursor: pointer
      color: $palette__text__secondary
