.header
  .icon
    &--favorites
      fill: $palette__icon--primary
      max-width: 2.5rem
      max-height: 2.5rem

.card
  .icon
    &--favorites
      fill: $palette__icon--primary
      max-width: 2rem
      max-height: 2rem
