.header
  .nav
    &__list
      display: flex
      flex-direction: column

.footer
  .nav
    &__list
      display: flex
      align-items: center
      flex-wrap: wrap

      width: 100%


@media all and ( min-width: 600px )
  .header
    .nav
      &__list
        flex-direction: row
        align-items: center

  .footer
    .nav
      &__list
        display: flex
        justify-content: flex-end

        column-gap: 0
