.header
  .nav
    &__list
      display: flex
      flex-direction: column


@media all and ( min-width: 600px )
  .header
    .nav
      &__list
          flex-direction: row
          align-items: center

