.actions
  &__action
    display: flex
    justify-content: center
    align-items: center


@media all and ( min-width: 1024px )
  .actions
    &__action
      &:hover
        .icon
          fill: $palette__icon--accent
