include ../../../logo/logo
include ../../../burger-menu/burger-menu
include ../../../search/search
include ../../../catalog/catalog
include ../../../actions/actions
include ../../../information/information
