head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')

  block head

  title= title || ''

  link(href='https://fonts.gstatic.com', rel='preconnect')
  link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap', rel='stylesheet')

  block styles
