.header
  &__logo
    color: $palette__text--primary

    padding: .5rem 0


@media all and ( min-width: 1024px )
  .header
    &__logo
      padding: .5rem 1.5rem

      transition: $transition__speed--medium

      &:hover
        color: $palette__text--secondary
