.products
  &__toggler
    display: flex
    justify-content: center
    align-items: center

    +font(14, 14, 500, $font-family__font--primary)

    padding: .75rem 1rem
    border-radius: 1.5rem
    box-shadow: 0 0 1.5rem rgba($palette__shadow--secondary, 0.15)


@media all and ( min-width: 368px )
  .products
    &__toggler
      padding: .75rem 1.25rem


@media all and ( min-width: 1024px )
  .products
    &__toggler
      display: none
