.home-page
  &__banner
    position: relative

    max-height: 880px
    min-height: 500px
    background: linear-gradient(180deg, #001325 11.46%, rgba(0, 26, 52, 0) 100%);


@media all and ( min-width: 476px )
  .home-page
    &__banner
       background: linear-gradient(360deg, #001325 11.46%, rgba(0, 26, 52, 0) 100%);


