// Colors

// Base
$color__white: #FFFFFF
$color__solitude: #F2F3F5
$color__alice-blue: #EAF4FF
$color__comet: #686B7C
$color__polo-blue: #8EACC8
$color__black-russian: #060F23
$color__black-pearl:  #001A34

// Accent
$color__sushi: #6BB431
$color__dark-orange: #F79400
$color__red-orange: #F73D34
$color__cornflower-blue: #4A9FFF



// Palette
$palette__accent--primary: $color__sushi
$palette__accent--secondary: $color__cornflower-blue
$palette__accent--another: $color__dark-orange
$palette__accent--warning: $color__red-orange

$palette__text--primary: $color__white
$palette__text--secondary: $color__solitude
$palette__text--accent-primary: $color__sushi
$palette__text--accent-secondary: $color__red-orange

$palette__icon--primary: $color__white
$palette__icon--accent: $color__sushi

$palette__input--text: $color__black-pearl
$palette__input--background-primary: $color__white
$palette__input--background-secondary: $color__alice-blue

$palette__label--primary: $color__white
$palette__label--secondary: $color__comet
$palette__label--active: #8EACC8

$palette__background--primary: $color__black-russian


