*
  box-sizing: border-box

  &::before,
  &::after
    box-sizing: border-box


ul,
ol
  padding: 0
  list-style: none


body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
article,
button
  margin: 0


body
  min-height: 100%
  text-rendering: optimizeSpeed
  font-family: $font-family__font--primary


a
  text-decoration: none


img
  max-width: 100%
  display: block


input,
button,
textarea,
select
  font: inherit
