.header
  &__burger-menu
    display: flex
    flex-direction: column
    justify-content: center

    width: 2rem
    height: 2rem
    margin: 0 1rem

    &:hover
        cursor: pointer


@media all and ( min-width: 600px )
  .header
    &__burger-menu
      display: none
