.popup
  &__label
    &:not([for=agreement])
      position: absolute
      top: 1.5rem
      left: 1.25rem

      +font(20, 20, 400, 24px)
      color: $palette__label--secondary

      transition: $transition__speed--medium
    &[for=agreement]
      position: relative

      +font(12, 12, 400, 15px)
      color: $palette__label--primary
      max-width: 232px

      &::before
        content: ''

        position: absolute
        left: -1.75rem
        top: .125rem

        width: 1.25rem
        height: 1.25rem
        background-color: $palette__accent--primary
        border-radius: .25rem



