// Colors
$color__white: #FFFFFF
$color__snow: #FAFAFA
$color__white-smoke: #F5F5F5
$color__wisper: #E5E5E5
$color__matterhorn: #515151
$color__bittersweet: #FA7268
$color__bilbao: #2C7A1F
$color__citrus: #8CB500

// Palette

// Accent
$palette__accent--primary: $color__bittersweet

// Background
$palette__background--primary: $color__matterhorn
$palette__background--secondary: $color__white-smoke
$palette__background--main: $color__white

// Text
$palette__text--accent: $color__bittersweet
$palette__text--primary: $color__matterhorn
$palette__text--secondary: $color__white

// Icon
$palette__icon--accent: $color__bittersweet
$palette__icon--primary: $color__matterhorn
$palette__icon--secondary: $color__white


// Border
$palette__border--accent: $color__bittersweet
$palette__border--primary: $color__matterhorn

