.products
  &__rooms-card
    display: grid
    grid-template-columns: minmax(min-content, max-content)

    max-width: 270px

    box-shadow: 0 0 25px rgba($palette__shadow--primary, 0.25)
    overflow: hidden

