.catalog
  &__footer
    display: grid
    grid-template-columns: 1fr

    padding: 1rem 0

    width: 100%
    max-width: 72rem


@media all and ( min-width: 600px )
  .catalog
    &__footer
      grid-template-columns: minmax(min-content, max-content) 1fr
      align-items: center

      padding: 0
