.button
  &--toggler-right
    display: none


@media all and ( min-width: 1024px )
  .button
    &--toggler-right
      display: flex

      position: absolute
      top: 50%
      right: .25rem

      background-color: transparent
      border: 2px solid $palette__accent--primary
      border-radius: .25rem

      padding: 0.5rem

      transition: $transition__speed--medium

      &:hover
        cursor: pointer
        background-color: $palette__accent--primary
        .icon--arrow-right
          fill: $palette__icon--primary
