.banner
  &__img
    width: 100%
    min-height: 25rem
    max-height: 30rem
    object-fit: cover


@media all and ( min-width: 321px )
  .banner
    &__img
      max-height: 55rem


@media all and ( min-width: 1024px )
  .banner
    &__img
      max-height: 30rem
