.form--subscribe
  .form
    &__input
      &:not([type=checkbox])
        background: rgba($palette__input--background-foreground, 100)

.form--register
  .form
    &__input
      &:not([type=checkbox])
        background: rgba($palette__input--background-secondary, .1)

.form
  &__input
    &:not([type=checkbox])
      +font(16, 20, 400, 24px)
      color: $palette__input--text

      padding: 1.25rem 1rem 1rem
      border: none
      border-radius: .25rem
      width: 100%

      transition: $transition__speed--medium

      &:focus
        outline: none
        box-shadow: 0px 0px 1.5rem $palette__accent--primary
        background: $palette__input--background-secondary

        &+.form__label
          +font(12, 12, 500, 15px)
          color: $palette__label--active
          top: .5rem

    &[type=checkbox]
      position: relative
      z-index: 1
      opacity: 0

      width: 1.25rem
      height: 1.25rem

      &:checked
        &+.form__label
          &::before
            background: $palette__accent--primary url('../icons/background/check.svg') center / .75rem  no-repeat


@media all and ( min-width: 360px )
  .form
    &__input
      &:not([type=checkbox])
        padding: 1.5rem 1.125rem 1.125rem

        &:focus
          &+.form__label
            top: .75rem

