.carousel
  &__project-card
    position: relative
    max-width: 9.125rem

    display: flex
    flex-direction: column


@media all and ( min-width: 768px )
  .carousel
    &__project-card
      display: block


@media all and ( min-width: 1024px )
  .carousel
    &__project-card
      &:nth-child(1)
        grid-row: span 2

      &:nth-child(2)
        grid-column: span 2
