@import '__content/__content'
@import '__footer/__footer'
@import '__header/__header'


.catalog
  display: flex
  flex-direction: column
  align-items: center
  background-color: $palette__background--secondary
