//- Head
- const title = `Hotel 'Cats'`;
- const page = `catalog`;
- const path = `../`;


//- Body

//- Nav
-
  const links = [{
      title: 'Почему мы?',
      url: '#' },
    {
      title: 'Номера',
      url: 'pages/catalog.html' },
    {
      title: 'Отзывы',
      url: '#' },
    {
      title: 'Как нас найти',
      url: '#' }];


//- Filter
-
  const filter = {
    fieldsets: [{
      title: 'Цена за сутки, ',
      icon: {
        path: path,
        name: 'ruble',
        parent: 'filter' },
      fields: [{ type: 'text' }, { type: 'text' }]},
      {
        title: 'Площадь',
        fields: [{
            type: 'checkbox',
            name: '0.63 м2',
            for: '0.63 м2' },
          {
            type: 'checkbox',
            name: '0.90 м2',
            for: '0.90 м2' },
          {
            type: 'checkbox',
            name: '1.13 м2',
            for: '1.13 м2' },
          {
            type: 'checkbox',
            name: '1.56 м2',
            for: '1.56 м2' },
          {
            type: 'checkbox',
            name: '2.56 м2',
            for: '2.56 м2'},
          {
            type: 'checkbox',
            name: '2.88 м2',
            for: '2.88 м2' }]},
      {
        title: 'Оснащение номера',
        fields: [{
            type: 'checkbox',
            name: 'Пустой номер',
            for: 'Пустой номер' },
          {
            type: 'checkbox',
            name: 'Лежак',
            for: 'Лежак' },
          {
            type: 'checkbox',
            name: 'Когтеточка',
            for: 'Когтеточка' },
          {
            type: 'checkbox',
            name: 'Игровой комплекс',
            for: 'Игровой комплекс' },
          {
            type: 'checkbox',
            name: 'Домик',
            for: 'Домик' }]}],
    buttons: [{
        parent: 'filter',
        content: 'Подобрать',
        modifier: 'fill'},
      {
        parent: 'filter',
        content: 'Сбросить фильтр',
        modifier: 'fill-none'}]
  };


//- Sorter
-
  const options = [{
      title: 'По площади',
      icon: {
          path: path,
          name: 'arrow-up',
          parent: 'select' },
      data: 'square-up' },
    {
      title: 'По площади',
      icon: {
          path: path,
          name: 'arrow-down',
          parent: 'select' },
      data: 'square-down' },
    {
      title: 'По цене',
      icon: {
          path: path,
          name: 'arrow-up',
          parent: 'select' },
      data: 'price-up' },
    {
      title: 'По цене',
      icon: {
          path: path,
          name: 'arrow-down',
          parent: 'select' },
      data: 'price-down' }];


//- Banner
-
  const banner = {
    phone: {
      path: '/images/banner/catalog',
      modificator: 'phone',
      type: 'webp',
      alt: 'Каждый 7-й день бесплатно' },
    tablet: {
      path: '/images/banner/catalog',
      modificator: 'tablet',
      type: 'webp',
      alt: 'Каждый 7-й день бесплатно' },
    desktop: {
      path: '/images/banner/catalog',
      modificator: 'desktop',
      type: 'webp',
      alt: 'Каждый 7-й день бесплатно' },
    content: {
      headline: 'Каждый 7-й день',
      subtitle: 'бесплатно!',
      textline: 'Акция действует при размещении в номерах “Люкс” и “Супер-Люкс”',
      button: {
        parent: 'banner',
        content: 'Забронировать',
        icon: {
          path: path,
          name: 'paw-primary',
          parent: 'banner' }}}
  };


//- About
-
  const about = {
    title: 'Как нас найти',
    contacts: [{
        headline: 'Адрес',
        textline: `Санкт-Петербург, ул. Большая Конюшенная, д. 19`
      },
      {
        headline: 'Режим работы',
        textline: 'Ежедневно, с 9:00 до 20:00'
      },
      {
        headline: 'Телефон',
        textline: '8 (800) 333-55-99',
        attributes: {
          href : 'tel:+78003335599'}},
      {
        headline: 'E-mail',
        textline: 'info@cat-hotel.ru',
        attributes: {
          href: 'mailto:info@cat-hotel.ru' }}],
    socials: {
      headline: 'Социальные сети',
      icons: [{
          path: '/',
          parent: 'socials',
          name: 'fb',
          attributes: {
            href: '#' }},
        {
          path: '/',
          parent: 'socials',
          name: 'ig',
          attributes: {
            href: '#' }},
        {
          path: '/',
          parent: 'socials',
          name: 'vk',
          attributes: {
            href: '#' }}]}
  };
