.popup
  &__input
    &[type=text],
    &[type=password],
    &[type=tel]
      +font(20, 20, 400, 24px)
      color: $palette__input--text

      padding: 1.5rem 1.125rem 1.125rem
      border: none
      border-radius: .25rem
      max-width: 18.75rem
      background: rgba($palette__input--background-secondary, .1)

      transition: $transition__speed--medium

      &:focus
        outline: none
        box-shadow: 0px 0px 1.5rem $palette__accent--primary
        background: $palette__input--background-secondary

        &+.popup__label
          +font(12, 12, 500, 15px)
          color: $palette__label--active
          top: .75rem

    &[type=checkbox]
      position: relative
      opacity: 0
      z-index: 1

      &:checked
        &+.popup__label
          &::before
            background: $palette__accent--primary url('../icons/background/check.svg') center / 1rem  no-repeat


