.project-card
  &__textline
    display: none


@media all and ( min-width: 768px )
  .project-card
    &__textline
      display: none

      +font(16, 16, 400)
      color: $palette__text--primary

      margin-bottom: 0.25rem
