.project-card
  &__description
    display: flex
    flex-direction: column


@media all and ( min-width: 1024px )
  .project-card
    &__description
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0

      align-items: start
      padding: 1rem
      background-color: rgba($palette__background--primary, .75)

      transition: $transition__speed--medium


