.content
  &__features
    display: grid
    grid-template-columns: repeat(2, 1fr)

    padding: 2rem 1rem
    max-width: 73.125rem
    width: 100%

    justify-self: center


@media all and ( min-width: 360px )
  .content
    &__features
      padding: 0 1rem


@media all and ( min-width: 768px )
  .content
    &__features
      grid-template-columns: repeat(3, 1fr)


@media all and ( min-width: 1200px )
  .content
    &__features
      padding: 0
