@media all and ( min-width: 1024px )
  .nav--navigation
    .nav
      &__list
        display: flex
        justify-content: flex-end


@media all and ( min-width: 1366px )
  .nav--contacts
    .nav
      &__list
        display: grid
        grid-template-columns: repeat(2, minmax(min-content, max-content))
        grid-template-rows: repeat(2, minmax(min-content, max-content))

        align-items: center
