.carousel
  &__navigation
    display: grid
    grid-template-columns: auto


@media all and ( min-width: 1024px  )
  .carousel
    &__navigation
      grid-template-columns: auto minmax(min-content, 92px)

