.products
  &__select
    position: relative

    box-shadow: 0 0 1.5rem rgba($palette__shadow--secondary, 0.15)
    border-radius: 1.5rem

.products
  &__select
    &.is-active
      border-radius: .25rem .25rem 0 0

