.carousel
  &--comments
    &::before
      content: url('../icons/background/background-paw.svg')

      position: absolute
      z-index: 0
      top: -1%
      right: -20%

      +icon(140, 300, 140, 300)

      transform: rotate(310deg)

    .swiper-container
      overflow: visible


@media all and ( min-width: 370px )
  .carousel
    &--comments
      &::before
        top: -1.5%
        right: -22%


@media all and ( min-width: 430px )
  .carousel
    &--comments
      &::before
        top: -2%
        right: -24%


@media all and ( min-width: 490px )
  .carousel
    &--comments
      &::before
        top: -2.5%
        right: -26%


@media all and ( min-width: 550px )
  .carousel
    &--comments
      &::before
        top: -3%
        right: -28%


@media all and ( min-width: 610px )
  .carousel
    &--comments
      &::before
        top: -3.5%
        right: -30%


@media all and ( min-width: 660px )
  .carousel
    &--comments
      &::before
        top: -4%
        right: -15%


@media all and ( min-width: 720px )
  .carousel
    &--comments
      &::before
        top: -4.5%


@media all and ( min-width: 780px )
  .carousel
    &--comments
      &::before
        top: -5%
        right: -16%


@media all and ( min-width: 840px )
  .carousel
    &--comments
      &::before
        top: -5.5%
        right: -17%


@media all and ( min-width: 900px )
  .carousel
    &--comments
      &::before
        top: -6%
        right: -18%


@media all and ( min-width: 960px )
  .carousel
    &--comments
      &::before
        top: -6.5%
        right: -19%


@media all and ( min-width: 1024px )
  .carousel
    &--comments
      &::before
        top: -8%
        right: -11%


@media all and ( min-width: 1230px )
  .carousel
    &--comments
      &::before
        top: -9%


@media all and ( min-width: 1440px )
  .carousel
    &--comments
      &::before
        top: -10%
        right: -12%


@media all and ( min-width: 1660px )
  .carousel
    &--comments
      &::before
        top: -11%
        right: -13%


@media all and ( min-width: 1920px )
  .carousel
    &--comments
      &::before
        top: -12%
        right: -15%
