.home-page
  .banner
    &__title
      position: relative

      +font(44, 62, 700, $font-family__font--secondary)
      color: $palette__text--primary

      margin-bottom: .5rem

      &::before
        content: 'Санкт-Петербург'

        position: absolute
        top: -1rem
        left: 25%

        +font(12, 14, 400, $font-family__font--primary)

// Поправить
.catalog
  .banner
    &__title
      position: relative

      +font(24, 36, 700, $font-family__font--secondary)
      color: $palette__text--primary

      margin-bottom: 4rem

      &::after
        content: 'бесплатно!'

        position: absolute
        top: 100%
        left: 0

        +font(37, 56, 700, $font-family__font--secondary)



@media all and ( min-width: 600px )
  .home-page
    .banner
      &__title
        &::before
          left: 27%


@media all and ( min-width: 769px )
  .home-page
    .banner
      &__title
        &::before
          left: 0
