.home-page
  .banner
    &__title
      position: relative

      +font(44, 62, 700, $font-family__font--secondary)
      color: $palette__text--primary

      margin-bottom: .5rem

      &::before
        content: 'Санкт-Петербург'

        position: absolute
        top: -1rem
        left: 25%

        +font(12, 14, 400, $font-family__font--primary)


@media all and ( min-width: 600px )
  .home-page
    .banner
      &__title
        &::before
          left: 27%


@media all and ( min-width: 769px )
  .home-page
    .banner
      &__title
        &::before
          left: 0


@media all and ( min-width: 1024px )
  .home-page
    .banner
      &__title
        position: relative

        color: $palette__text--primary

        &::before
          content: 'Санкт-Петербург'

          position: absolute

