.banner
  &__title
    position: relative

    color: $palette__text--primary

.home-page
  .banner
    &__title
      +font(44, 62, 700, $font-family__font--secondary)

      margin-bottom: .5rem

      &::before
        content: 'Санкт-Петербург'

        position: absolute
        top: -1rem
        left: 25%

        +font(12, 14, 400, $font-family__font--primary)

.catalog
  .banner
    &__title
      +font(24, 36, 700, $font-family__font--secondary)

      margin-bottom: 3.25rem

      &::after
        content: 'бесплатно!'

        position: absolute
        top: 100%
        left: 0

        +font(37, 56, 700, $font-family__font--secondary, 1)


@media all and ( min-width: 550px )
  .catalog
    .banner
      &__title
        margin-bottom: 3.5rem


@media all and ( min-width: 600px )
  .home-page
    .banner
      &__title
        &::before
          left: 27%

  .catalog
    .banner
      &__title
        margin-bottom: 4rem


@media all and ( min-width: 769px )
  .home-page
    .banner
      &__title
        &::before
          left: 0


@media all and ( min-width: 900px )
  .catalog
    .banner
      &__title
        margin-bottom: 4.25rem


@media all and ( min-width: 1280px )
  .catalog
    .banner
      &__title
        margin-bottom: 4.5rem
