.header
  &__nav
    display: none
    justify-content: flex-start

    position: fixed
    top: 88px
    z-index: 1

    width: 100%
    height: 100%
    overflow: hidden
    padding-top: 1rem

    background-color: $palette__background--primary

    transition: all .2s ease-in-out


@media all and ( min-width: 600px )
  .header
    &__nav
      display: flex
      justify-content: flex-end

      position: static

      border: none
      height: inherit
      padding: 0
