.header
  .nav
    &__item
      display: block

      &:nth-of-type(4)
        margin-bottom: 1rem

.footer
  .nav
    &__item
      display: block


@media all and ( min-width: 600px )
  .header
    .nav
      &__item
        &:nth-of-type(4)
          margin-bottom: 0

@import '--dynamic/--dynamic'
