//- Head
- let title = `Home-page`;
- let page = `home-page`;
- let path = `./`;



//- Header

-
  const header = {
    navigation: {
      links: [{
          title: 'Home',
          url: '#' },
        {
          title: 'About us',
          url: '#' },
        {
          title: 'Shop',
          url: '#' },
        {
          title: 'Contacts',
          url: '#' }]},
    user: {
      links: [{
          title: 'Login',
          url: '#' },
        {
          title: 'Register',
          url: '#' }]},
  };
